@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;
  --font-outfit: "Outfit", sans-serif;
  --grid-template-columns-auto: repeat(auto-fill,minmax(200px,1fr))
}

.active hr {
  @apply block;
}


::-webkit-scrollbar{
  @apply hidden
}

@media (max-width:740px){
  .active P{
    @apply text-white bg-primary
  }
}

*{
  font-family: Outfit;
}